<ion-header class="color">
  <ion-toolbar class="color">
    <ion-title >Selecione uma categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" color">
 
  <section class="cards">
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/a.jpeg" alt=" " />
    </article>

    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/b.jpeg" alt=" " />
    </article>
 
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/c.jpeg" alt=" " />
    </article>
 
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/d.jpeg" alt=" " />
    </article>
 
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/e.jpeg" alt=" " />
    </article>
 
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/f.jpeg" alt=" " />
    </article>
 
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/g.jpeg" alt=" " />
    </article>
  
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/i.jpeg" alt=" " />
    </article>
 
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/j.jpeg" alt=" " />
    </article>
 
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/k.jpeg" alt=" " />
    </article>
  
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/m.jpeg" alt=" " />
    </article>
   
    <article [routerLink]="['/descricao']" routerDirection="forward">
      <img class="article-img" src="../../assets/imgs/n.jpeg" alt=" " />
    </article>
 

  </section>

</ion-content>